.navbar {
    height: 10vh;
    background: rgb(66, 87, 80);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 4px 4px 10px gray;
}

.nav-logo {
    text-decoration: none;
    color: white;
    font-size: 2.1rem;
}

.nav-items {
    display: flex;
    list-style: none;
    text-align: center;
    width: 70vw;
    justify-content: flex-end;
    margin-right: 2rem;
}

.nav-item {
    display: flex;
    align-items: center;
    height: 10vh;
}

.nav-item a {
    text-decoration: none;
    color: white;
    font-size: 1.1rem;
    margin-right: 2rem;
    border-radius: 5px;
    padding: 5px 5px;
}


.nav-item a:hover {
    background: green;
    transition: 0.3s all ease-out;
}

